.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 10px 15px;
  border-color: black;
  border: none;
  border-radius: 5px;
  background-color: #d1d1d1;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #333;
  color: white;
}

body.dark-mode .page-link {
  background-color: white;
  color: #333;
}

body.dark-mode .page-link:hover {
  background-color: #777;
}
